<template name="serviceAccountTransfer">
    <section class="create-channel">
        <div class="create-channel__wrapper">
            <p class="create-channel__description">{{_ "Service_account_transfer_description"}}</p>
            <form id="create-service-account" name="create-service-account" class="create-channel__content">
                <div class="create-channel__inputs">
                    <div class="rc-input {{#if invalidChannel}}rc-input--error{{/if}}">
						<label class="rc-input__label">
							<div class="rc-input__title">{{_ "Username"}}</div>
							<div class="rc-input__wrapper">
								<input name="username" type="text" class="rc-input__element"
									   placeholder="{{_ 'Username'}}" autofocus>
							</div>
						</label>
					</div>
				</div>
            </form>
            <div class="create-channel__inputs">
				<input form='create-service-account' class="rc-button rc-button--primary" type='submit' data-button="create" {{transferIsDisabled}} value="{{_ "Transfer"}}" />
			</div>
        </div>
    </section>
</template>