<template name="serviceAccountDashboard">
    <div class="main-content-flex">
        <section class="page-container page-home page-static page-settings content-background-color">
            {{> header sectionName=pageTitle}}
            <div class="content">
                {{#unless hasPermission 'view-service-account-request'}}
					<p>{{_ "You_are_not_authorized_to_view_this_page"}}</p>
				{{else}}
                    <div class="results">
						{{{_ "Showing_results" "0"}}}
					</div>
					{{#table fixed='true' onItemClick=onTableItemClick onScroll=onTableScroll onResize=onTableResize}}
						<thead>
							<tr>
								<th width="34%">
									<div class="table-fake-th">{{_ "Name"}}</div>
								</th>
								<th width="33%">
									<div class="table-fake-th">{{_ "Username"}}</div>
								</th>
								<th width="33%">
									<div class="table-fake-th">{{_ "Email"}}</div>
								</th>
								<th width="33%">
									<div class="table-fake-th">{{_ "Roles"}}</div>
								</th>
								<th width="33%">
									<div class="table-fake-th">{{_ "Status"}}</div>
								</th>
							</tr>
						</thead>
						<tbody>
                        </tbody>
                    {{/table}}
                {{/unless}}
            </div>
        </section>
    </div>
</template>